In [5]:
def odd_even(num):
    odd=[]
    even=[]
    for i in num:
        if i%2==0:
            even.append(i)
        else:
            odd.append(i)
    return odd,even
p=[1,23,445,56,76,763,4543,5,432,423,4]
odd,even=odd_even(p)

In [22]:
def check_num():
    a=int(input())
    if a<=1:
        return 'Incorrect number'
    if a%2==0:
        return f'{a} is Even number'
    else:
        return f'{a} is odd number'
print(check_num())

 5

5 is odd number

In [28]:
p=[1,23,445,56,76,763,4543,5,432,423,4]
even=[i for i in p if i%2==0]
odd=[i for i in p if i not in even]

In [29]:
p=[1,23,445,56,76,763,4543,5,432,423,4]
even=list(filter(lambda x : x%2==0,p))

[56, 76, 432, 4]

In [74]:
a=[11,24,35,46,64,45,46,44,65,55]
b=a[0]
for i in a:
    if i>b:
        b=i
print(b)

65

In [78]:
a='Your Toolbox for Python Projects'
b={}
for i in a.lower():
    if i in 'a,e,i,o,u':
        b[i]=b.get(i,0)+1
b

{'o': 7, 'u': 1, 'e': 1}

In [85]:
def check_palindrom():
    a=input()
    b=a[::-1]
    if a==b:
        return 'Palindrom'
    else:
        return 'Not'
check_palindrom()

 121

'Palindrom'

In [88]:
print('palindrom' if (a:=input())==a[::-1] else 'not')

 madam

palindrom

In [93]:
def armstrong_num():
    a=int(input())
    b=0
    for i in str(a):
        b+=int(i)**len(str(a))
    if a==b:
        return 'Armstrong number '
    else:
        return "not"
armstrong_num()

 153

'Armstrong number '

In [118]:
def prime_num():
    return "Prime number" if (a:=int(input()))>1 and all(a%i!=0 for i in range(2,a)) else "not"
prime_num()

 1

'not'

In [10]:
def fibbo(num):
    a,b=0,1
    while a<=num:
        yield a
        a,b=b,a+b
obj=list(fibbo(100))
print(obj)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [5]:
import pandas as pd

In [6]:
import pyodbc

In [7]:
print(pyodbc.drivers())

['SQL Server', 'SQL Server Native Client RDA 11.0', 'ODBC Driver 17 for SQL Server', 'Oracle in OraDB21Home1']

In [9]:
import pyodbc

conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=localhost\\SQLEXPRESS;"
    "DATABASE=practice;"
    "Trusted_Connection=yes;"
)

In [10]:
cur=conn.cursor()

In [11]:
data=cur.execute("select * from employees")

In [12]:
for row in data:
    print(row)

(1, 'Amit Sharma', 28, 'M', 'IT', 66000, datetime.date(2020, 3, 15), 'Mumbai')
(2, 'Neha Verma', 32, 'F', 'HR', 80525, datetime.date(2019, 7, 1), 'Delhi')
(3, 'Ravi Kumar', 26, 'M', 'Finance', 55000, datetime.date(2021, 1, 10), 'Pune')
(4, 'Priya Desai', 30, 'F', 'IT', 65000, datetime.date(2018, 11, 23), 'Bangalore')
(6, 'Anjali Nair', 29, 'F', 'HR', 53000, datetime.date(2020, 9, 30), 'Mumbai')
(8, 'Divya Singh', 27, 'F', 'Finance', 52000, datetime.date(2022, 6, 12), 'Delhi')
(10, 'Sneha Kulkarni', 25, 'F', 'IT', 61000, datetime.date(2023, 4, 5), 'Pune')
(11, 'samir phapale', 29, 'M', 'Finance', 55000, datetime.date(2024, 7, 30), 'Thane')
(1, 'Amit Sharma', 28, 'M', 'IT', 60000, datetime.date(2020, 3, 15), 'Mumbai')
(2, 'Neha Verma', 32, 'F', 'HR', 55000, datetime.date(2019, 7, 1), 'Delhi')
(3, 'Ravi Kumar', 26, 'M', 'Finance', 50000, datetime.date(2021, 1, 10), 'Pune')
(5, 'Suresh Patil', 35, 'M', 'Marketing', 48000, datetime.date(2017, 5, 14), 'Nagpur')
(7, 'Rajeev Menon', 31, 'M', 'IT', 70000, datetime.date(2016, 8, 21), 'Chennai')
(9, 'Manoj Tiwari', 34, 'M', 'Marketing', 47000, datetime.date(2015, 2, 18), 'Bhopal')

In [13]:
import pandas as pd

In [16]:
df=pd.read_sql_table("employees",conn)

C:\Users\samir\AppData\Local\Temp\ipykernel_22120\1731302833.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_table("employees",conn)

DatabaseError: Execution failed on sql '
        SELECT
            name
        FROM
            sqlite_master
        WHERE
            type IN ('table', 'view')
            AND name=?;
        ': ('42S02', "[42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Invalid object name 'sqlite_master'. (208) (SQLExecDirectW); [42S02] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Statement(s) could not be prepared. (8180)")